[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak],
.ng-cloak, .x-ng-cloak,
.ng-hide {
  display: none !important;
}

ng\:form {
  display: block;
}

body {
  padding: 55px 10px 10px 10px;
  min-width: 770px;
  min-height: 700px;
}
.breadcrumb {
  background-color: #AAAAAA;
}
textarea {
  resize: none;
}
