<!DOCTYPE html>
<html ng-app="toolbox" ng-csp>
  <head>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/popup.min.css" rel="stylesheet"/>
    <title id="title">工具箱</title>
  </head>
  <body ng-controller="ToolboxCtrl">
    <header class="navbar navbar-default navbar-fixed-top" role="banner">
      <div class="container">
        <nav class="collapse navbar-collapse" role="navigation">
          <ul class="nav navbar-nav">
            <li class="dropdown" ng-repeat="g in commands">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                {{ g.title }}
                <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li ng-class="{divider:i.name == ''}" ng-repeat="i in g.items">
                  <a href="#" ng-click="i.run()" ng-hide="i.name == ''">
                    {{ i.name }}
                  </a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav pull-right">
            <li>
              <a  target="_blank"
              href="https://chrome.google.com/webstore/detail/hbkboegfdkllhmokangamapokbnnhfbl/reviews">
                <i class="glyphicon glyphicon-star"></i>
                <span id="reviews">评论</span>
              </a>
            </li>
            <li>
              <a target="_blank"
              href="https://chrome.google.com/webstore/support/hbkboegfdkllhmokangamapokbnnhfbl?#bug">
                <i class="glyphicon glyphicon-plus-sign"></i>
                <span id="bug">错误</span>
              </a>
            </li>
            <li>
              <a target="_blank"
              href="https://chrome.google.com/webstore/support/hbkboegfdkllhmokangamapokbnnhfbl?#question">
                <i class="glyphicon glyphicon-question-sign"></i>
                <span id="question">问题</span>
              </a>
            </li>
            <li>
              <a target="_blank"
              href="https://chrome.google.com/webstore/support/hbkboegfdkllhmokangamapokbnnhfbl?#feature">
                <i class="glyphicon glyphicon-heart"></i>
                <span id="feature">功能</span>
              </a>
            </li>
          </ul>
        </nav>
      </div><!-- container -->
    </header>
    <h3>
      <img src="img/48.png" align="bottom"/>
      <span id="name">Toolbox</span>
    </h3>
    <ol class="breadcrumb">
      <li>
        <div class="btn-group">
          <button class="btn btn-success btn-xs" id="repeat"
          ng-click="repeat()">
            repeat
          </button>
          <button class="btn btn-warning btn-xs" id="clean"
          ng-click="clean()">
            clean
          </button>
        </div><!-- btn-group -->
      </li>
      <li ng-repeat="h in history">
        <a href="#" class="btn btn-info btn-xs"
        ng-click="h.run()">
          {{ h.name }}
        </a>
      </li>
    </ol>
    <form role="form">
      <div class="form-group">
        <label for="input" id="input_label" ng-hide="one">
          input
        </label>
        <textarea class="form-control" rows="{{ rows }}"
          ng-model="input" id="input"></textarea>
        <span class="help-block">
          <span class="badge badge-info">{{ inputRow }}</span>
          <span class="t_row">行</span>,
          <span class="badge badge-info">{{ inputCount }}</span>
          <span class="t_byte">字节</span>
        </span>
      </div><!-- form-group -->
      <div class="form-group" ng-hide="one">
        <label for="output" id="output_label">
          output
        </label>
        <textarea class="form-control" rows="5" id="output"
        ng-model="output"></textarea>
        <span class="help-block">
          <span class="badge badge-info">{{ outputRow }}</span>
          <span class="t_row">行</span>,
          <span class="badge badge-info">{{ outputCount }}</span>
          <span class="t_byte">字节</span>
        </span>
      </div><!-- form-group -->
      <div class="form-group">
        <label class="checkbox-inline">
          <input type="checkbox" id="one" ng-model="one" value="true"/>
          <span id="one_label">单输入框模式</span>
        </label>
      </div><!-- control-group -->
    </form>
    <footer>
      <div class="container">
          <i class="glyphicon glyphicon-copyright-mark"></i>
          <a id="a_xuender" href="http://xuender.me" target="_blank">
            xuender.me</a> 2012-2014
          <a target="_blank" title="Chrome Web Store"
          href="https://chrome.google.com/webstore/detail/hbkboegfdkllhmokangamapokbnnhfbl">
            <img src="img/chrome.png"/>
          </a>
          <a target="_blank" title="GitHub project"
          href="https://github.com/xuender/toolbox">
            <img src="img/github.png"/>
          </a>
          <a target="_blank" title="Mail to me"
          href="mailto:xuender@gmail.com">
            <img src="img/gmail.png"/>
          </a>
      </div>
    </footer>
    <script src="js/jquery.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/core-min.js"></script>
    <script src="js/md5-min.js"></script>
    <script src="js/sha1-min.js"></script>
    <script src="js/beautify-css.js"></script>
    <script src="js/beautify-html.js"></script>
    <script src="js/beautify.js"></script>
    <script src="js/google-analytics-bundle.js"></script>
    <script src="js/main.min.js"></script>
  </body>
</html>
