{% extends "base.htm" %}
{% block css %}
<link href="css/popup.css" rel="stylesheet"/>
{% endblock %}
{% block script %}
<script src="js/utils.js"></script>
<script src="js/popup.js"></script>
{% endblock %}
{% block body %}
<div class="btn-toolbar">
    <div class="btn-group">
        <h3 id="name"><img src="img/48.png"/></h3>
    </div>
    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" 
            id="g_sort">
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#" id="sort"></a></li>
            <li><a href="#" id="desc"></a></li>
            <li><a href="#" id="reverse"></a></li>
        </ul>
    </div><!-- btn-group -->
    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" 
            id="g_unique">
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#" id="unique"></a></li>
            <li><a href="#" id="repeated"></a></li>
        </ul>
    </div><!-- btn-group -->
    <div class="btn-group">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="#" id="g_trim">
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#" id="trim"></a></li>
            <li><a href="#" id="trim_row"></a></li>
        </ul>
    </div><!-- btn-group -->
    <div class="btn-group" id="b_one">
        <a href="#" class="btn" id="swap"></a>
    </div><!-- btn-group -->
</div><!-- btn-toolbar -->
<ul class="breadcrumb">
    <span class="divider" id="split"> | </span>
    <li><a href="#" class="btn btn-success" id="repeat"></a></li>
    <li><a href="#" class="btn btn-warning btn-mini" id="clean"></a></li>
</ul>
<div class="row">
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="input" 
                id="input_label"></label>
            <div class="controls">
                <textarea id="input" rows="5"></textarea>
                <span class="help-block">
                    <span class="badge badge-info" id="i-row">0</span>
                    <span class="t_row"></span>,
                    <span class="badge badge-info" id="i-count">0</span>
                    <span class="t_byte"></span>
                </span>
            </div><!-- controls -->
        </div><!-- control-group -->
        <div class="control-group" id="outdiv">
            <label class="control-label" for="output" 
                id="output_label"></label>
            <div class="controls">
                <textarea id="output" rows="5"></textarea>
                <span class="help-block">
                    <span class="badge badge-info" id="o-row">0</span>
                    <span class="t_row"></span>,
                    <span class="badge badge-info" id="o-count">0</span>
                    <span class="t_byte"></span>
                </span>
            </div><!-- controls -->
        </div><!-- control-group -->
        <div class="control-group">
            <label class="checkbox" id="one_label">
                <input type="checkbox" id="one"/>
            </label>
        </div><!-- control-group -->
    </form>
</div>
{% endblock %}
