{% extends "base.htm" %}
{% block css %}
<link href="css/popup.css" rel="stylesheet"/>
{% endblock %}
{% block script %}
<script src="js/utils.js"></script>
<script src="js/md5.js"></script>
<script src="js/sha1.js"></script>
<script src="js/beautify.js"></script>
<script src="js/beautify-css.js"></script>
<script src="js/beautify-html.js"></script>
<script src="js/popup.js"></script>
{% endblock %}
{% block body %}
<div>
    <div id="b_sys" class="pull-right main">
        <a href="#" class="btn btn-mini" id="new_tab">
            <i class="icon-share"></i>
        </a>
    </div><!-- b_sys -->
    <a class="store title" target="_blank" 
        href="https://chrome.google.com/webstore/detail/hbkboegfdkllhmokangamapokbnnhfbl">
        <h3>
            <img src="img/48.png" align="bottom"/>
            <span id="name"></span>
            <small>{{ ver }}</small>
        </h3>
    </a>
    <div class="btn-toolbar main" id="toolbar">
        <div class="btn-group">
        </div>
        <div class="btn-group" id="b_one">
            <a href="#" class="btn" id="swap"></a>
        </div><!-- btn-group -->
    </div><!-- btn-toolbar -->
    <ul class="breadcrumb">
        <span class="divider" id="split"> | </span>
        <li><a href="#" class="btn btn-success btn-mini" id="repeat"></a></li>
        <li><a href="#" class="btn btn-warning btn-mini" id="clean"></a></li>
    </ul>
</div>
<div class="row">
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label" for="input" 
                id="input_label"></label>
            <div class="controls">
                <textarea id="input" rows="5"></textarea>
                <span class="help-block">
                    <span class="badge badge-info" id="i-row">0</span>
                    <span class="t_row"></span>,
                    <span class="badge badge-info" id="i-count">0</span>
                    <span class="t_byte"></span>
                </span>
            </div><!-- controls -->
        </div><!-- control-group -->
        <div class="control-group" id="outdiv">
            <label class="control-label" for="output" 
                id="output_label"></label>
            <div class="controls">
                <textarea id="output" rows="5"></textarea>
                <span class="help-block">
                    <span class="badge badge-info" id="o-row">0</span>
                    <span class="t_row"></span>,
                    <span class="badge badge-info" id="o-count">0</span>
                    <span class="t_byte"></span>
                </span>
            </div><!-- controls -->
        </div><!-- control-group -->
        <div class="control-group">
            <div class="controls">
                <label class="checkbox" id="one_label">
                    <input type="checkbox" id="one"/>
                </label>
            </div><!-- controls -->
        </div><!-- control-group -->
    </form>
</div>
{% endblock %}
